/*TEPMPASMP*/
#arnExtension_html, .hidden{display: none;}
#arnExtension_html .arnExtension-fixed{position: static; margin: 10px auto;}
#arnExtension_html .arnExtension-popup-layout{display: block!important;opacity: 1;margin: 20px auto;}
/*TEPMPASMP*/

/* Popup layout */

@keyframes fadeIn_Ext{0%{opacity: 0;}100%{opacity: 1;}}
#arnExt{font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif!important;font-weight: normal!important;font-size: 14px!important;color: #222222!important;}
.arnExtension-popup-layout,
.arnExtension-bubble-popup,
.arnExtension-box-shadow{box-shadow: rgba(33, 43, 54, 0.08) 0px -2px 5px, rgba(33, 43, 54, 0.2) 0px 10px 41px;}
#arnExt .ui-drag--disabled{cursor: default;}
#arnExt .ui-drag--enabled{cursor: grab;}
#arnExt .ui-drag--enabled:active,
.arnExt-body:active::-webkit-scrollbar-track,
.arnExt-body:active::-webkit-scrollbar-thumb{cursor: grabbing;}
.arnExt-ui-button--svg{width: 30px;height: 30px;overflow: hidden;margin: 0 auto;}
.arnExtension-popup-layout:not(.arnExtension-popup-layout--visible){opacity: 0;display: none!important;}
.arnExtension-popup-layout.arnExtension-popup-layout--visible{opacity: 1;animation: fadeIn_Ext .3s alternate ease-in!important;}
#arnExt-grid-columns-value{opacity: 0;position: absolute;z-index: -1;left: 0;top: 0;width: 100%;}
#arnExt div[data-eid][data-enable="false"]{display: none!important;}
#arnExt .h-100{height: 100%;}
.arnExtension-popup-layout{
	width: 310px;
	border-radius: 8px;
	margin: 0;
	background: #fff;
	user-select: none;
	direction: ltr;
}
@media (max-width: 574px){#arnExt{display: none;}}
.arnExtension-fixed{
	position: fixed;
	z-index: 99998;
	top: 100px;
	right: 0;
}
.arnExtension-fixed.ui-draggable-dragging{z-index: 99999;}
.arnExtension-fixed.arnExtension-bubble-popup{right: 0;}
.arnExtension-fixed:nth-child(1){top: 200px;}
.arnExtension-fixed:nth-child(2){top: 300px;}

.arnExt-header-inner{padding: 8px 0 2px 11px;}
.arnExt-body .arnExt-body-inner{padding: 13px 11px 7px 11px;}
.arnExt-header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.arnExt-header--title{
	color: #212B36;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
}
.arnExt-header--close{cursor: pointer;padding: 5px 11px;}
.arnExtension-popup-body{background: #F4F6F8;border: 1px solid #DFE3E8;border-right: none;border-left: none;}
.arnExt-body{
	min-height: 300px;
	max-height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
.arnExt-body::-webkit-scrollbar {width: 4px;}
.arnExt-body::-webkit-scrollbar-track {background: #f1f1f1;}
.arnExt-body::-webkit-scrollbar-thumb,
.arnExt-body::-webkit-scrollbar-thumb:hover {background: #617985;}

.arnExt-body--text{
	color: #919EAB;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 14px;
}
.arnExt-footer-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 11px;
}
.arnExt-footer .logo-company{
	display: flex;
	align-items: center;
	line-height: 1;
}

.arnExt-footer .logo-company a.logo-name{
	font-weight: bold;
	font-size: 12px;
	line-height: 21px;
	color: #3F4EAE;
	margin-left: 5px;
	text-decoration: none;
}

/* BUTTON UI */
.arnExt-body--group-buttons{
	display: grid;
	grid-gap: 11px;
	padding-bottom: 11px;
}
.arnExt-body--group-buttons.arnExt-grid-2{grid-template-columns: repeat(2,1fr);}
.arnExt-body--group-buttons.arnExt-grid-3{grid-template-columns: repeat(3,1fr);}
.arnExt-body--group-buttons.arnExt-grid-4{grid-template-columns: repeat(4,1fr);}
.arnExt-body--group-buttons.arnExt-grid-5{grid-template-columns: repeat(5,1fr);}
.arnExt-body--group-buttons.arnExt-grid-6{grid-template-columns: repeat(6,1fr);}
.arnExt-body--group-buttons .arnExt-ui-button.ui-button-w-100{grid-column: span 2;}
#arnExt .arnExt-ui-button{
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 2px 8px rgba(190, 190, 190, 0.25);
}
.arnExt-ui-button-inner{
	background: #fff;
	border-radius: 3px;
	border: 2px solid #fff;
}
.arnExt-ui-button:hover .arnExt-ui-button-inner{border-color: #5C6AC4;}
.arnExt-ui-button-inner{padding: 13px 0 10px 0;}
.arnExt-ui-button--label{font-size: 10px;line-height: 12px;margin-top: 5px;font-weight: 200;}

/* BUBBLE POPUP*/
.arnExtension-bubble-popup{
	width: 77px;
	max-height: 85px;
	text-align: center;
	justify-content: center;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	border-radius: 8px;
}
.arnExtension-popup-icon{display: inline-flex;}
.arnExtension-popup-inner--top{
	height: 0;
	transition: .2s all ease-in-out;
	overflow: hidden;
}
.arnExtension-popup-inner--top > div{
	display: flex;
	justify-content: center;
}
.arnExtension-popup-inner--top .arnExtension-popup-icon svg{
	width: 22px;
	height: 22px;
}
.arnExtension-bubble-popup .arnExtension-popup-inner--bottom{
	padding: 5px 10px;
	border-radius: 8px;
}
.arnExtension-popup-text{
	font-size: 14.5px;
	line-height: 20px;
	color: #31373D;
}
#arnExt .arnExtension-popup--clicked{cursor: pointer;}
.arnExtension-popup-inner--bottom .arnExtension-popup-icon{padding-top: 5px;}
.arnExtension-bubble-popup:not(.arnExtension-fixed){margin: 10px auto;}
.arnExtension-bubble-popup:hover .arnExtension-popup-inner--bottom{background: #5C6AC4;box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.4);}
.arnExtension-bubble-popup:hover .arnExtension-popup-text{color: #fff;}
.arnExtension-bubble-popup:hover .arnExtension-popup-inner--top{height: 22px;}
.arnExtension-bubble-popup:hover .arnExtension-popup-inner--bottom svg path[fill="#212B36"]{fill: #fff;}
.arnExtension-bubble-popup:hover .arnExtension-popup-inner--bottom svg path[fill="white"]{fill: #5C6AC4;}


/* NOTIFY*/

.arnExtension-notify{
	display:none;
	opacity: 0;
	text-align: center;
	border-radius: 3px;
	box-shadow:#3f3f440d 0px 0px 0px 1px, #3f3f4426 0px 1px 3px 0px;
	font-size:20px;
	font-weight:400;
	padding: 16px;
	line-height:28px;
	max-width:500px;
	position: fixed;
	bottom: -20%;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	z-index: 999999;
}

.arnExtension-notify.arnExtension-notify--showing{
	color: #fff;
	display: flex;
	opacity: 1;
	bottom: 5%;
	animation: fadeIn_Ext .3s alternate ease-in!important;
}
.arnExtension-notify--info{background:#000000e0;}
.arnExtension-notify--error{background:#bf0711e0;}


/* NOTIFY LAYER*/
.arnExtension-notify_layer{
	display: none;
	background: rgba(223, 228, 232, 0.8);
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.arnExtension-notify_layer--showing .arnExtension-notify_layer{display: block;}
.arnExtension-notify_layer--showing .arnExt-body{overflow: hidden;padding-right: 4px;}
.arnExtension-notify_layer--showing .arnExtension-popup-body{position: relative;overflow: hidden;}
.arnExtension-notify_layer .arnExtension-notify--button{
	display: inline-block;
	padding: 8px 12px;
	background: #fff;
	color: #1a1a1a;
	border: 1px solid #0000;
	border-radius: 3px;
}
.arnExtension-notify_layer .arnExtension-notify--copied{
	display: inline-block;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
.arnExtension-notify_layer .arnExtension-notify--copied .arnExtension-notify--button{
	color: #fff;
	background: linear-gradient(180deg, #D93518 0%, #CC3216 100%);
	border-color: #B50710;
	box-sizing: border-box;
	box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.0869282);
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}