html {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

.option-tab-inner::-webkit-scrollbar,body::-webkit-scrollbar {
  width: 4px;
}

.option-tab-inner::-webkit-scrollbar-track,body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.option-tab-inner::-webkit-scrollbar-thumb,.option-tab-inner::-webkit-scrollbar-thumb:hover,body::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,#6371c7,#5563c1);
}

.h-100,.option-tab.active {
  height: 100%;
}

.hide {
  display: none!important;
}

.border {
  box-shadow: 0 2px 16px rgba(33,43,54,.08),0 31px 41px rgba(33,43,54,.2);
}

.highlight {
  color: #7084cb;
}

.option-popup {
  font-size: 14px;
  margin: 0 auto;
  width: 724px;
  user-select: none;
  background: #fff;
}

.option-popup a {
  text-decoration: none;
  color: #000;
}

.svg {
  display: inline-flex;
}

.option-header {
  padding: 20px;
  border-bottom: 1px solid #dfe3e8;
}

.option-header p {
  font-size: 21px;
  line-height: 28px;
  margin: 0;
}

#optionsLayout small {
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  color: #919eab;
}

.option-body {
  border-bottom: 1px solid #dfe3e8;
}

.option-body-inner {
  display: flex;
}

.option-body-left {
  flex: 0 0 32%;
  max-width: 220px;
  background: #f4f6f8;
}

.option-body-left-inner,.option-body-left-inner>ul {
  height: 100%;
}

.option-body-right {
  flex: 1 1 auto;
}

.option-tab-inner {
  max-height: 434px;
  overflow: auto;
}

.option-body-right-inner.grid-fill .option-tab-inner.dflex {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
  height: 100%;
  min-height: 250px;
}

.option-body-right-inner.grid-fill .option-tab-inner.dflex>div {
  padding: 20px 20px 0 20px;
}

span.li-content {
  display: flex;
  align-items: center;
}

span.li-content .svg {
  margin-right: 8px;
}

ul.list-option {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-option li.active {
  background: #fff;
  border-left: 2px solid #5e6cc6;
  border-right: none;
  color: #5c6ac4;
}

svg path[fill="#637381"],
svg path[fill="#919EAB"] {fill: inherit;}

.learn-more use,
ul.list-option use{
  fill: #919eab;
}
ul.list-option li.active use{
  fill: #5e6cc6!important;
}
ul.list-option li:not(.active):hover use{
  fill: #48505b;
}
ul.list-option li:first-child {
  border-top: none;
}

ul.list-option li.li-none {
  height: 98px;
  cursor: unset;
  padding: 0;
}

ul.list-option li:last-child {
  border-bottom: 1px solid #0000;
}

ul.list-option li:last-child.active {
  border-bottom-color: #dfe3e8;
}

ul.list-option li {
  padding: 20px 0 20px 20px;
  border: 1px solid #dfe3e8;
  border-bottom: none;
  cursor: pointer;
  color: #919eab;
  border-left: 2px solid #f4f6f8;
}

ul.list-option li:not(.active):hover {
  color: #48505b;
}

ul.list-option li:not(.active):hover svg path[fill="#637381"],ul.list-option li:not(.active):hover svg path[fill="#919EAB"] {
  fill: #48505b!important;
}

.option-body-right-inner .option-tab-inner {
  padding: 20px 30px 0 30px;
}

.option-tab:not(.active) {
  display: none;
}

.option-tab--title {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.option-tab--text {
  color: #637381;
  line-height: 21px;
  margin-bottom: 12px;
}

.learn-more {
  margin-left: 5px;
  display: inline-flex;
}

.op-checkbox {
  position: relative;
  padding-left: 25px;
  line-height: 20px;
  margin-bottom: 14px;
}

.op-checkbox:last-child {
  margin-bottom: 0;
}

.op-checkbox label {
  cursor: pointer;
}

.op-checkbox input[type=checkbox] {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
  left: 0;
  top: -6px;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.op-checkbox .svg-check {
  position: absolute;
  z-index: 1;
  left: 0;
}

.op-checkbox .svg-check {
  width: 16px;
  height: 16px;
  color: #5c6ac4;
  border: 1px solid #c4cdd5;
  background: -webkit-gradient(linear,left top,left bottom,from(white),to(#f9fafb));
  background: linear-gradient(to bottom,#fff,#f9fafb);
  -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
  box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
  border-radius: 3px;
  text-align: center;
  top: .1rem;
  justify-content: center;
}

.op-checkbox .svg-check svg {
  width: 10px;
  height: 16px;
  fill: #5c6ac4;
  transform: scale(0);
  vertical-align: top;
}

.op-checkbox input[type=checkbox]:checked~.svg-check {
  border-color: #5c6ac4;
}

.op-checkbox input[type=checkbox]:checked~.svg-check svg {
  transform: scale(1);
}

.op-whitelist textarea {
  margin-top: 6px;
  width: 100%;
  color: #212b36;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  padding: 4px;
}

.op-whitelist textarea:focus {
  border: 1px solid #5c6ac4;
  -webkit-box-shadow: 0 0 0 1px #5c6ac4;
  box-shadow: 0 0 0 1px #5c6ac4;
}

.option-popup .btn-option-ui {
  background: -webkit-gradient(linear,left top,left bottom,from(#6371c7),to(#5563c1));
  background: linear-gradient(to bottom,#6371c7,#5563c1);
  border-color: #3f4eae;
  -webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
  box-shadow: inset 0 1px 0 0 #6f7bcb;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  padding: 12px 16px;
  display: inline-block;
}

.option-popup .btn-option-ui:hover {
  background: linear-gradient(to bottom,#5c6ac4,#4959bd);
  border-color: #3f4eae;
  box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
  color: #fff;
}

.op-label {
  color: #637381;
  margin-top: 0;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
}

.whitelist-footer .wishlist-label {
  margin: 0 10px 0 0;
  font-size: 12px;
  font-weight: 700;
}

.adminBar-layout {
  position: relative;
  padding-left: 25px;
}

.option-footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.option-footer-inner .btn {
  padding: 8px 25px;
}

.logo-company {
  display: flex;
  align-items: center;
  line-height: 1;
}

a.logo-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  color: #3f4eae;
  margin-left: 5px;
  text-decoration: none;
}
