
#arnExt, #arnExt .admin-_text {
	font-family: sans-serif !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	font-style: normal !important;
	letter-spacing: 0 !important;
}
#arnRichText, #arn_fontPicker{
	width: 430px;
	height: 500px;
	position: fixed;
	z-index: 999;
	top: 10%;
	left: 300px;
	background: #FFFFFF;
	border-radius: 6px;
	margin-top: 0;
	-webkit-box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
	box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
	display: none;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
}
.is--visible{
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
}
#arn_fontPicker	 i {
	font-family: arenafont!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

#arn_fontPicker	 #fontPicker_container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 5px;
	margin-top: 15px;
	text-align: center;
	align-content: flex-start;
}
#arn_fontPicker .icon_item .btn-icon{
	padding: 1rem;
	width: 36px;
}
#arn_fontPicker #fontPicker_container > div{
	position: relative;
	width: 100%;
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
	max-width: 10%;
	padding-bottom: 5px;
}
#fontPicker_header,#fontPicker_footer{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#fontPicker_header > div, #fontPicker_footer > div{
	position: relative;
	width: 100%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}
#pick_themes{
	width: 100%;
	height: 36px;
}
#fontPicker_insert{
	width: 87px;
	height: 36px;
	float: right;
}
#fontPicker_close{
	float: right;
}
#fontPicker_title{
	font-size: 20px;
	line-height: 28px;
}
#fontPicker_header, #fontPicker_body, #fontPicker_footer{
	padding: 10px;
}
#fontPicker_header, #fontPicker_body{
	border-bottom: 1px solid #c4cdd5;
}
#fontPicker_body,#fontPicker_footer{
	padding-top: 15px;
}
#arn_fontPicker .hidden{
	display: none !important;
}
.arnCollapse{
	cursor: pointer;
}
.te-panel[data-panel-slug] .arnCollapse {
	padding-bottom: 1rem;
}
.btn-icon.ui-button:hover .arnhover-icon{display: block;}


/* arn-datepicker */
#ui-datepicker-div.arn-datepicker {
	position: fixed ! important;
	width: 360px;
	height: 370px;
	-webkit-box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
	box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
	border-radius: 6px;
}
.arn-datepicker .ui-datepicker-title{font-size: 16px;color: #212B36;}
.arn-datepicker .ui-datepicker-header{border:none;background-color:#ffffff !important;margin: 15px 0;}
.arn-datepicker .ui-datepicker-calendar{height: 250px;margin-bottom: 15px;}
.arn-datepicker .ui-datepicker-calendar td a{text-align: center;}
.arn-datepicker .ui-datepicker-current{display: none !important;}
.arn-datepicker .ui-datepicker-buttonpane{text-align: right;padding-top: 5px;border: none !important;}
.arn-datepicker .ui-button--primary.ui-datepicker-close{padding: 0.9rem 1.5rem;border-radius: 6px;float: none;}
.arn-datepicker .ui-datepicker-prev, .arn-datepicker .ui-datepicker-next{width: 20px !important;}
.arn-datepicker .ui-datepicker-today{
	background: -webkit-gradient(linear, left top, left bottom, from(#6371c7), to(#5563c1));
	background: linear-gradient(to bottom, #6371c7, #5563c1);
	border-color: #3f4eae;
	-webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
	box-shadow: inset 0 1px 0 0 #6f7bcb;
	color: white;
}
.arn-datepicker .ui-datepicker-today a{
	padding: 0;
	background: none;
	border: none;
	color: white;
}


/*====== arnRange, arnPopup ======*/
#arnRange, .arnPopup{
	border-radius: 6px;
	padding: 16px;
	position: fixed;
	top: 10%;
	left: 300px;
	z-index: 999;
	background: #FFFFFF;
	border-radius: 6px;
	-webkit-box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
	box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
	display: none;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
}
#arnRange{width: 300px;height: auto;}
#arnRange .arnRange-option > div{
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

#arnRange .arn-top,
#arnRange .arn-middle,
#arnRange .arn-bottom{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
#arnRange .arn-middle{
	justify-content: space-between;
    align-items: flex-end;
}

#arnRange.range-layout-1 .arn-middle,
#arnRange.range-layout-2 .arn-middle{justify-content: center;}


#arnRange .range-label {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 0;
}
#arnExt #arnRange input[type="number"]{
	width: 100%;
	text-align: center;
	padding: 0;
}

#arnRange .arnRange-footer{
    display: block;
    margin-top: 6px;
    padding-top: 16px;
    border-top: 1px solid #c4cdd5;
}
#arnRange .arnRange-footer-inner{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#arnRange .arnRange-footer-left{
	flex: 0 0 40%;
	max-width: 40%;
}
#arnRange .arnRange-footer-right{
	flex: 0 0 60%;
	max-width: 60%;
	text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#arnExt .hidden-label,
#arnRange .range-simple-1{display: none;}
#arnRange .arn-space{padding: 0 15px;min-height: 207px;}
#arnRange .arnRange-option{margin-bottom: 10px;}
#arnRange .ui-select__wrapper{max-width: 150px;}
#arnRange.range-layout-1 .hidden-label,
#arnRange.range-layout-2 .hidden-label{display: inline-block;}
#arnRange .arn-single-space .range-label,
#arnRange .ui-range:last-child .range-label{padding-right: 0;}

#arnRange:not(.range-layout-1):not(.range-layout-2) .ui-range,
#arnRange:not(.range-layout-1):not(.range-layout-2) .ui-range input{max-width: 50%;}

.arnhover-icon{
	position: absolute;
	top: -50%;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	width: 50px;
	z-index: 9;
	padding: 8px;
	display: none;
	left: 110%;
	border-radius: 6px 6px 6px 0;
}

/* arnResponsive */
#arnResponsive{
	width: 450px;
	height: 445px;
	padding-top: 32px;
}
#arnResponsive .range-label{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#arnResponsive .range-label > *{
	margin-bottom: 1rem;
}
#arnResponsive .range-label label{
	padding-left: 6px;
	width: 80%;
}
#arnResponsive .range-label input{
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
	max-width: 10%;
	text-align: center;
	min-width: 66px;
	height: 36px;
}
#arnExt input[type="number"]{padding: 0 0 0 4px;}
#arnExt input[type="number"]::-webkit-inner-spin-button {
	opacity: 1;
	height: 36px;
}
#arnResponsive .h-label {
	display: block;
	font-size: 14px;
	font-weight: 600;
}
#arnResponsive .s-label {font-size: 12px;}
.arn_h1,#arnResponsive .arnResponsive_header {
	font-size: 20px;
	margin-left: 6px;
	margin-bottom: 12px;
	border-bottom: 1px solid #DFE3E8;
	padding-bottom: 20px;
}
#arnResponsive .arn-space{min-height: calc(445px - 41px - 91px);}
#arnResponsive .arnRange-footer{
	border-top: 1px solid #DFE3E8;
	padding-top: 12px;
	margin-left: 6px;
	text-align: center;
}
#arnResponsive .arnRange-footer_top button {
    font-size: 12px;
    padding: 6px 12px;
}
#arnResponsive .arnRange-footer_bottom{padding-top: 12px;}

/*========== Dev bar ==========*/
.ui-button--primary{
	background: -webkit-gradient(linear, left top, left bottom, from(#6371c7), to(#5563c1));
	background: linear-gradient(to bottom, #6371c7, #5563c1);
	border-color: #3f4eae;
	-webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
	box-shadow: inset 0 1px 0 0 #6f7bcb;
	color: white;
	border-radius: 6px;
}
#adminBar_config{
	position: fixed;
	top: 20%;
	z-index: 99999;
	transition: all 0.1s ease;
	flex-flow: column;
}
#adminBar_config svg *{
	fill:#ffffff;
}
#adminBar_config .arnLogo{
	width: 50px;
	height: 50px;
	background: #5C6AC4;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .2s ease-in-out;
	border-radius: 50%;
}
#adminBar_config .arnLogo > span{
    display: flex;
}
#adminBar_config .arnLogo svg{
	width: 36px;
	height: 36px;
}
#adminBar_config .arnLogo.active{border-radius: 0;}
#adminBar_config .adm-wrap{background: #31373D;}

#adminBar_config:not(.horizontal-devbar) .adm-wrap{
	text-align: center;
	max-width: 50px;
	height: calc(100vh - 50px);
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}


#adminBar_config .btn-dropdown{position: relative;}
.adm-wrap .arnExt-btn {
	font-family: inherit;
    padding: 6px 0;
    user-select: none;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    line-height: 1;
}
.admin-_text{display: none;}
.adm-wrap .arnExt-btn:hover{opacity: .5;}
.admin-_icon svg {width: 18px;height: 18px;}

#adm-btn_metafield:hover #list_adm_metafield{display: block;}

#list_adm_metafield{
	display: none;
    text-align: left;
    min-width: 10rem;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    background: rgb(49, 55, 61);
    border: none;
    list-style: none;
}
#adminBar_config.horizontal-devbar #list_adm_metafield{top: 100%;left: 0;}

#list_adm_metafield .admin-_text{
    display: block;
    color: #ffffff;
}
#list_adm_metafield .dropdown-item{
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

#list_adm_metafield p{margin: 0 0 10px 0 !important;}
#list_adm_metafield p:first-child{margin-top: 10px !important;}
#adminBar_config.horizontal-devbar{
	display: flex;
	width: 50px;
	transition: all .5s ease;
	flex-flow: row;
}


#adminBar_config.horizontal-devbar .adm-wrap{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#adminBar_config.horizontal-devbar .adm_left, #adminBar_config.horizontal-devbar .adm_right,#adminBar_config.horizontal-devbar .admin-btn{
	display: flex;
    align-items: center;
}
#adminBar_config.horizontal-devbar .admin-_text{
    display: inline-block;
    color: #fff;
    margin-left: 10px;
}
#adminBar_config.horizontal-devbar.active{width: 100%;}
#adminBar_config.horizontal-devbar .btn-dropdown{margin: 0 5px;}
#adminBar_config.horizontal-devbar .admin-btn{
	padding: 0 4px;
	white-space: nowrap;
}
#arnEditorMedium.arnPopup{
    width: 500px;
    height: 500px;
}
#arnEditorMedium .medium-editor-element:after{content: '';display: none;}
#arnEditorMedium .arnEditor-body{
	height: 447px;
    overflow-y: auto;
    overflow-x: hidden;
}
.arnPopup-footer{
	margin-top: 6px;
	padding-top: 16px;
	border-top: 1px solid #c4cdd5;
}
#arnEditorMedium .arnEditor-footer{text-align: center;}
.arnEditor-body{outline: none;}
