@keyframes arnExtClose {
  0% {
    right: 0;
    pointer-events: all;
    opacity: 1;
    z-index: 9998; }
  to {
    right: -100%;
    pointer-events: none;
    opacity: 0;
    z-index: -1; } }

@keyframes arnExtShow {
  0% {
    right: -100%;
    pointer-events: none;
    opacity: 0;
    z-index: -1; }
  to {
    right: 0;
    pointer-events: all;
    opacity: 1;
    z-index: 9998; } }

arn-extension {
  font-family: sans-serif !important;
  line-height: 1 !important;
  letter-spacing: 0 !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

arn-extension .hide {
  display: none; }

arn-extension:not(.ready) {
  pointer-events: none;
  opacity: 0; }

arn-extension.ready.active .arn-shortcut-btn, arn-extension:not(.active) .arn__list {
  animation-name: arnExtClose;
  animation-fill-mode: both;
  animation-duration: .3s; }

arn-extension.active .arn__list, arn-extension.ready .arn-shortcut-btn {
  animation-name: arnExtShow;
  animation-fill-mode: both;
  animation-duration: .3s; }

arn-extension .arn-shortcut-btn {
  position: fixed !important;
  top: 15vh;
  display: flex;
  cursor: pointer;
  box-shadow: 0 16px 24px 4px rgba(90, 82, 128, 0.12);
  border-radius: 50% 0 0 50%;
  background: #fff;
  padding: 6px !important;
  border: 1px solid #005e46;
  border-right: none;
  padding: 0;
  margin: 0; }

arn-extension .arn-shortcut-btn > svg {
  transition: all .2s ease-in-out;
  width: 50px;
  height: 50px; }

arn-extension .arn-shortcut-btn:hover > svg {
  transform-origin: center;
  transform: scale(1.2); }

arn-extension .arn__list {
  background: #fff;
  position: fixed !important;
  top: 0;
  max-width: 64px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 16px 24px 4px rgba(90, 82, 128, 0.12); }

arn-extension .arn__list .arn-popup-header {
  margin: 10px 0; }

arn-extension .arn__list .arn-popup-header .arn__logo {
  margin: 10px;
  border-bottom: 1px solid; }

arn-extension .arn__list .arn-popup-header .arn-brand {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; }

arn-extension .arn__list .arn-popup-body {
  max-height: calc(100vh - 60px);
  overflow: auto;
  padding-bottom: 25px; }

arn-extension .arn__list .arn-popup-body::-webkit-scrollbar {
  width: 0; }

arn-extension .arn__list .arn-popup-inner {
  padding: 8px; }

arn-extension .arn__list a {
  border: none !important; }

arn-extension .arn-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }

arn-extension .arn-flex.arn-flex-1 > * {
  flex: 0 0 100%; }

arn-extension .arn-flex.arn-flex-3 > * {
  flex: 0 0 33.33%; }

arn-extension .arn-btn--close {
  position: absolute;
  left: -36px;
  top: 4px;
  border: none;
  margin: 0;
  display: flex;
  padding: 8px;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0 16px 24px 4px rgba(90, 82, 128, 0.12);
  cursor: pointer; }

arn-extension .arn-btn {
  --size:30px;
  --hoverBgColor:#71cbb4;
  background: #fff;
  padding: 12px 8px;
  cursor: pointer;
  box-shadow: none;
  transition: all .3s ease-in-out; }

arn-extension .arn-btn:not([disabled]):focus, arn-extension .arn-btn:not([disabled]):hover {
  background: var(--hoverBgColor) !important;
  box-shadow: none; }

arn-extension .arn-btn[disabled] {
  display: none; }

arn-extension .arn-btn .arn-btn--svg svg {
  width: var(--size);
  height: var(--size); }

arn-extension [data-value] {
  order: 99; }

arn-extension [data-value=sections] {
  order: 1; }

arn-extension [data-value=content] {
  order: 2; }

arn-extension [data-value=customfields], arn-extension [data-value=wishlist] {
  order: 3; }

arn-extension [data-value=themes] {
  order: 4; }

arn-extension [data-value=settings] {
  order: 5; }

arn-extension [data-value=metafields] {
  order: 6; }

arn-extension [data-value=menus] {
  order: 7; }

arn-extension [data-value=pages] {
  order: 8; }

arn-extension [data-value=models] {
  order: 9; }

arn-extension [data-value=products] {
  order: 10; }

arn-extension [data-value=collections] {
  order: 11; }

arn-extension [data-value=users] {
  order: 12; }

arn-extension [data-value=code_editor] {
  order: 13; }

arn-extension [data-value=apps] {
  order: 14; }

arn-extension [data-value=partner] {
  order: 15; }
