.si_task_filters #wrapper > div > div > div > div:nth-child(1){display: none!important;}
#wrapper{min-height: fit-content!important;}
#wrapper > .content{padding: 0; overflow-x: hidden;}
#wrapper > div > div > div{padding: 0 52px 0 15px!important;}
#wrapper > div > div > div > div:nth-child(2){border: none!important; border-radius: 12px;}
#wrapper > div > div > div > div:nth-child(2) > div{padding-top: 10px;border-radius: 0; background: rgba(18, 18, 18, 0.9);}
#header{border: none;}
:root{
	--main-color: #121212;
	--white: #fff;
	--black: #000;
}
body,
.admin #side-menu,
.admin .sidebar,
.modal-header,
body.customers, body.admin #wrapper,
.admin #header{background: var(--main-color)!important;}
.hide-menu{color: var(--white);}
.tw-bg-primary-600{color: var(--main-color);}

.header-timers svg path{stroke: var(--white);}
.notifications-icon svg path{stroke: var(--white);}

#header ul.nav.navbar-nav.navbar-right .header-user-profile{ order:  1;}
#header ul.nav.navbar-nav.navbar-right {
    display: flex;
}
#header ul.nav.navbar-nav.navbar-right > li > a > span{
	border: none;
	width: fit-content;
}
#header ul.nav.navbar-nav.navbar-right > li{
	margin: 0;
	text-align: center;
}
#header ul.nav.navbar-nav.navbar-right > li > a{
	min-width: 50px;
}
#header .navbar-nav>li:not([data-original-title="Quick Create"])>a:hover > span{background:  none!important;}


#task-modal .task-single-col-left [data-title="Statistics"] i,
#task-modal .task-single-col-left [data-title="Timesheets"] i,
#task-modal a{color: var(--black);}

.admin #side-menu li .nav-second-level li a{color: var(--white)!important;}
.admin #side-menu li.active{border:  none;}
.admin #side-menu li .nav-second-level li{background: none!important;}

#task_view_description {
    max-height: 60vh;
    overflow-y: auto;
}

#DataTables_Table_0 tr>*:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(5)):not(:nth-child(17)){display:  none!important;}

#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td:first-child{font-style: italic; font-size: 12.5px;}
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td > a:first-child{font-weight: 700; font-size:14px; font-style: normal;}


#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="Urgent"] > span,
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="High"] > span,
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="Medium"] > span,
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="Low"] > span{
    padding: 3px 6px;
    border-radius: 16px;
    font-style: italic;
    font-size: 12px;
}
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="Urgent"] > span{background:  #fc2d42!important;color: var(--white)!important;}
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="High"] > span{background:  #ff6f00!important;color: var(--white)!important;}
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="Medium"] > span{background:  #03a9f4!important;color: var(--white)!important;}
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order="Low"] > span{background:  #B5D6A7!important;color: var(--white)!important;}
#DataTables_Table_0_wrapper .table-responsive table tbody > tr > td[data-order] > span{
	min-width: 66px;
	text-align: center;
	font-weight: 900;
}

.task-menu-options i {color: var(--black);}
#DataTables_Table_0 > tbody > tr:hover{background: rgb(53 69 70 / 77%);}

#wrapper a,
#wrapper .btn-default{
	color: var(--white)!important;
}
#wrapper .table>tbody>tr>td,
#wrapper .table>tfoot>tr>td{
	color: #adadad;
}
#DataTables_Table_0 > thead > tr > th{background: #0000006b; color: var(--white)}
#wrapper #DataTables_Table_0_paginate ul.pagination a{background: #0000006b;}