#optionsLayout {
	width: 400px;
	padding: 8px;
}
#optionsLayout h1{
    border-bottom: 1px solid rgb(196, 205, 213);
    padding-bottom: 12px;
    margin-top: 6px;
}

.op-checkbox{
	margin-bottom: 20px;
	padding-left: 25px;
	position: relative;
}

.op-checkbox label{
	font-size: 16px;
	cursor: pointer;
}
.op-checkbox input[type="checkbox"]{
	position: absolute;
	width: 30px;
	height: 30px;
	z-index: 2;
	left: 0;
	top: -6px;
	opacity: 0;
	cursor: pointer;
	margin: 0;
}
.op-checkbox .cb-styles{
	position: absolute;
	z-index: 1;
	left: 0;
}
.op-checkbox .cb-styles{
	width: 16px;
	height: 16px;
	color: #5c6ac4;
	border: 1px solid #c4cdd5;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f9fafb));
	background: linear-gradient(to bottom, white, #f9fafb);
	-webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
	box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
	border-radius: 3px;
	text-align: center;
	top: .1rem;
}
.op-checkbox .cb-styles svg{
	width: 10px;
	height: 16px;
	fill: #5c6ac4;
	transform: scale(0);
}
.op-checkbox input[type="checkbox"]:checked ~ .cb-styles{
	border-color: #5c6ac4;
}
.op-checkbox input[type="checkbox"]:checked ~ .cb-styles svg{
	transform: scale(1);
}

.op-whitelist label{
	font-size: 16px;
}
.op-whitelist textarea{
	margin-top: 6px;
	width: 100%;
    color: #212b36;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    max-width: 100%;
    font-family: Monaco, Consolas, Lucida Console, monospace;
    padding: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.op-whitelist textarea:focus {
	border: 1px solid #5c6ac4;
	-webkit-box-shadow: 0 0 0 1px #5c6ac4;
	box-shadow: 0 0 0 1px #5c6ac4;
}
.btn-whitelist{
	background: -webkit-gradient(linear, left top, left bottom, from(#6371c7), to(#5563c1));
	background: linear-gradient(to bottom, #6371c7, #5563c1);
	border-color: #3f4eae;
	-webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
	box-shadow: inset 0 1px 0 0 #6f7bcb;
	color: white;
	border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    float: right;
    font-size: 14px;
}
.op-admin{
	display: flex;
	justify-content: space-between;
}
.adminBar-layout{
	position: relative;
	padding-left: 25px;
}
